* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pokedex {
  width: 100vw;
  max-width: 706px;
  height: 95vh;
  max-height: 693px;
  background-color: #ef5350;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 22px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 15px 0px 0px rgba(79, 26, 25, 1);
  font-family: "Roboto Mono", monospace;
}

/* Browse Section */
.browseBox {
}
.favPokeball {
  width: 200px;
  transform: translate(-14%, -10%);
}
.pagination {
  text-align: center;
}
.paginationBtn {
  width: 50px;
  cursor: pointer;
  margin: 10px 10px 0;
}
.pokemonList {
  text-align: center;
  margin-top: -10px;
}
.pokemonIndex {
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
}
.pokemonIndex:hover {
  background-color: aqua;
  transition: 0.2s;
}

/* Info Section */
.infoBox {
  width: 62%;
  height: 78%;
  background-color: #000000;
  color: aliceblue;
  position: absolute;
  right: 9%;
  bottom: 12%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.75);
  padding: 20px 25px;
}
.pokemon {
  text-align: center;
}
.pokemon > img {
  width: 220px;
  margin: -25px;
}
.ability {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}
.progressbar {
  margin-left: 20px;
  padding: 5px;
  width: 300px;
  height: 20px;
  border-radius: 20px;
  background-color: #555555;
}
.progressbar > div {
  height: 10px;
  border-radius: 20px 8px 8px 20px;
  background-color: rgb(43, 194, 83);
}
.description {
  background-color: rgba(61, 61, 61, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}
