* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pokedex {
  width: 100vw;
  max-width: 706px;
  height: 95vh;
  max-height: 693px;
  background-color: #ef5350;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 22px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 15px 0px 0px rgba(79, 26, 25, 1);
  font-family: "Roboto Mono", monospace;
}

/* Browse Section */
.favPokeball {
  width: 200px;
  transform: translate(-14%, -10%);
}
.pokeballShadow {
  transform: translate(-14%, -112%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 10px 33px 0px rgba(0, 0, 0, 0.75);
}
.pagination {
  text-align: center;
}
.paginationBtn {
  width: 50px;
  cursor: pointer;
  margin: 10px 10px 0;
  position: absolute;
  bottom: 15px;
}
.leftBtn {
  left: 10px;
}
.rightBtn {
  left: 115px;
}
.pokemonList {
  text-align: center;
  margin-top: -155px;
}
.pokemonList > a {
  text-decoration: none;
}
.pokemonIndex {
  color: #333333;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -1px;
  cursor: pointer;
  margin-bottom: 6px;
  text-shadow: -1px 1px 0px rgba(179, 48, 46, 1);
}
.pokemonIndex:hover {
  color: rgb(179, 48, 46);
  font-size: 18px;
  transition: 0.2s;
}

/* Info Section */
.infoBox {
  width: 62%;
  height: 78%;
  background-color: #000000;
  color: aliceblue;
  position: absolute;
  right: 9%;
  bottom: 12%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.75);
  padding: 20px 25px;
}
.pokemon {
  text-align: center;
}
.pokemon > img {
  width: 165px;
  margin: 5px;
}
.ability {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}
.progressbar {
  padding: 5px;
  width: 220px;
  height: 20px;
  border-radius: 20px;
  background-color: #555555;
  position: absolute;
  left: 190px;
}
.progressbar > div {
  height: 10px;
  max-width: 100%;
  border-radius: 20px 8px 8px 20px;
}
.description {
  font-size: 13px;
  background-color: rgba(61, 61, 61, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 13%;
  border-radius: 0 0 10px 10px;
  padding: 5px 20px;
  line-height: 2.5;
}
.description > p > span {
  margin-right: 40px;
}
.search {
  position: absolute;
  top: 210px;
  left: 37px;
}
.search > input[type="text"] {
  width: 125px;
  border: 6px solid rgb(179, 48, 46);
  border-radius: 2px;
  font-weight: 800;
  background-color: #000000;
  color: #ffffff;
  transition: 0.3s;
}
.search > input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 12px 2px rgba(217, 230, 101, 1);
}

@media only screen and (max-width: 745px) {
  .pokedex {
    width: 95vw;
    height: 90vh;
  }
  .infoBox {
    width: 82%;
    height: 78%;
    padding: 10px 8px;
    right: 50%;
    bottom: 15%;
    transform: translateX(50%);
  }
  .pokemon {
    margin-bottom: 2.5vh;
  }
  .pokemon > img {
    width: 25vw;
    margin: 0px;
  }
  .ability {
    font-size: 11px;
    margin-bottom: 5vw;
  }
  .progressbar {
    width: 36vw;
    left: 50%;
  }
  .description {
    height: 20%;
    font-size: 11px;
    padding: 5px 8px;
  }
  .description > p > span {
    margin-right: 20px;
  }
  .fav {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 55px;
    height: 55px;
  }
  .favPokeball {
    width: 55px;
    transform: translate(0, 0);
  }
  .pokeballShadow {
    transform: translate(0, -108%);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    box-shadow: 0px 10px 33px 0px rgba(0, 0, 0, 0.75);
  }
  .paginationBtn {
    margin: 0;
  }
  .leftBtn {
    left: 10%;
  }
  .rightBtn {
    right: 10%;
    left: unset;
  }
  .pokemonList {
    display: none;
    background-color: #000000;
    z-index: 10;
    position: absolute;
    right: 50%;
    bottom: 15%;
    width: 82%;
    height: 78%;
    border-radius: 10px;
    transform: translateX(50%);
    transition: 0.3s;
    padding: 9vh 0;
  }
  .pokemonIndex {
    color: #ffffff;
    margin-bottom: 1vh;
  }
  .search {
    display: none;
    z-index: 100;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .active {
    display: block;
  }
}
